<h1>Listing providers</h1>

<table>
  <thead>
    <tr>
      <th>Pname</th>
      <th>Location</th>
      <th>Price</th>
      <th>Copay</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.pname %></td>
        <td><%= provider.location %></td>
        <td><%= provider.price %></td>
        <td><%= provider.copay %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
