<p id="notice"><%= notice %></p>

<p>
  <strong>Pname:</strong>
  <%= @provider.pname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @provider.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @provider.price %>
</p>

<p>
  <strong>Copay:</strong>
  <%= @provider.copay %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
